
@use "sass:map";
@use "sass:color";

body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 60px;
}

  %btn {
    background: #444;
    border: 0;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    padding: 0.7rem 0.9rem;
    margin: 0.5em auto;
    display: inline-block;
    cursor: pointer;
    &:hover { background: darken(white, 10%); } 
}

.btn-primary {
  @extend %btn;
  background: #3aa5a9;
}

.btn-secondary {
  @extend %btn;
  background: orange;
}

// Challenge
@mixin msg($col: #888) {
  border: 1px solid #ddd;
  border-radius: 5px;
  background: $col;
  font-size: 1rem;
  color: white;
  padding: 1rem 1.25rem;
  margin: 1em 0;
  border: 5px solid white;
  border-radius: 2em;
  display: inline-block;
  cursor: pointer;
  &:hover {
    background: darken($col, 10%);
  }
  h1 {
    font-size: 2rem;
    margin: 2px;
  }
}

.msg {
  @include msg;

  &-info {
    background: #3ab5e9;
    &:hover {
      background: #3aa5a9;
    }
  }
}


$badges: (
  "-primary":(
    RoyalBlue,
    White
  ),
  "-danger": (
    Crimson
    White
  ), 
  "-info": (
    Cyan
    Black
  )
);

@mixin badge($name: "", $bg: #444, $color: White, $style: none) {
  .badge#{$name} {
    border: 0;
    @if $style == "pill" {
      border-radius: 30px !important;
      padding: 0 0.6em !important;
    } @else {
      border-radius: 5px;
      padding: 0 0.3em;
    }
    background: $bg;
    font-size: 0.8em;
    color: $color;
    margin: 0.1em;
    display: inline-block;
    cursor: pointer;
    &:hover {
      background: scale-color($bg, $lightness: -30%)
    }
  }
};

@include badge("");
@include badge("-pill", $style: "pill");
@each $name, $colors in $badges {
  @include badge($name, $colors...);
}
