body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 60px;
}

@mixin btn($col: #444) {
  background: $col;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  color: white;
  padding: 0.7rem 0.9rem;
  margin: 0.5em auto;
  display: inline-block;
  cursor: pointer;
  &:hover {
    background: darken($col, 10%);
  }
}

.btn {
  @include btn;
  border: 0;

  &-primary {
    @extend .btn;
    background: #3ab5e9;
    &:hover {
      background: #3aa5a9;
    }
  }

  &-secondary {
    @extend .btn;
    background: orange;
  }
}

// Challenge
@mixin msg($col: #888) {
  border: 1px solid #ddd;
  border-radius: 5px;
  background: $col;
  font-size: 1rem;
  color: white;
  padding: 1rem 1.25rem;
  margin: 1em 0;
  border: 5px solid white;
  border-radius: 2em;
  display: inline-block;
  cursor: pointer;
  &:hover {
    background: darken($col, 10%);
  }
  h1 {
    font-size: 2rem;
    margin: 2px;
  }
}

.msg {
  @include msg;

  &-info {
    background: #3ab5e9;
    &:hover {
      background: #3aa5a9;
    }
  }
}